/* app.css */
.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px; /* Adjust this value to decrease or increase spacing */
}

.stats p {
  margin: 0; /* Remove default margin to avoid extra spacing */
}
